/* menu */
.menu {
	display: flex;
}
.menu-item {
	/* flex-grow: 1; */ /* width로 하는게 좋다. 왜냐면 IE에서는 flex-grow에 애니메이션 처리가 안먹는다. */
	width: 25%;
	background: gold;
	transition: 0.5s; /* 애니메이션 */
}
.menu-item:hover {
	/* flex-grow: 1.5; */
	width: 35%;
	background: crimson;
}
.menu-link {
	/* a 태그는 인라인이기 때문에 block으로 바꿔 해당 칸 모두 어디든 클릭 할 수 있게 만듦 */
	display: block; 
	padding: 1em; /* 현재 내 폰트사이즈만큼(1.2rem) 패딩을 준단 말  */
	font-size: 1.2rem; /* html 폰트사이즈의 1.2배 */
	font-weight: bold;
	color: #555;
	text-decoration: none; /* 밑줄 없앰 */
	text-align: center;
}
.menu-link:hover {
	color: white;
}

/* search */
.search-form {
	display: flex;
	height: 40px;
}
.search-form input[type="search"] {
	flex: 1; /* 창의 크기에 따라 늘어날 수 있게 지정 */
	min-width: 0;
	margin-right: 10px;
	border: 0;
	border-radius: 0.3em;
	font-size: 1rem;
}
.search-form input[type="submit"] {
	width: 4em;
	border: 0;
	border-radius: 0.3em;
	font-size: 1rem;
	background: gold;
}

/* bullet list */
.info-list {
	margin-bottom: 2rem;
}
.info-list-item {
	display: flex;
	margin: 0.5em 0;
}
/* 가상 element before 사용 */
.info-list-item:before {
	content: "⌘";
	margin-right: 0.5em;
}

/* message */
.user-list {
	margin-bottom: 2rem;
}
.user-item {
	display: flex;
	margin-bottom: 1.5em; /* em은 폰트사이즈에 따라 달라지고, rem은 root(html)의 폰트사이즈에 따라 달라짐 */
}
.user-photo {
	/* 메세지가 아무리 길더라도 프로필 사진이 안찌그러지게 함 
	flex-shrink로 강제로 안 줄어들게 하려면 0으로 설정
	*/
	flex-shrink: 0;
	width: 50px;
	height: 50px;
	margin-right: 0.5em;
	border: 2px solid #333;
	border-radius: 50%; /* 원모양의 border */
	background-color: gold;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 150%; /* 원 안에 다 들어가야 되기 때문에 크기를 키워줌 */
}

/* friend list */
.friend-item {
	align-items: center;
}
/* 이 세가지 속성을 쓰면 길어졌을 때 말줄임표가 생김 */
.user-name {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

/* modal */
.modal {
	/* 가운데 위치시킴 */
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.3);
}
.dialog {
	width: 50vw;
	padding: 2em;
	border-radius: 1em;
	background: white;
}

/* card list */
.card-item {
	display: flex;
	/* flex grow가 높이로 늘어나려면 column으로 설정해야됨 */
	flex-direction: column;
	margin-bottom: 2rem;
}
.card-image {
	height: 0;
	padding-bottom: 60%; /* height를 주는것이 아니라 패딩을 60%로 줘서 가로가 100이라면 높이는 60%가 돼서 backgroud-img의 크기를 확보해줌, 가로 세로 비율이 유지됨 */
	background-color: lightgray;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover; /* 컨테이너에 꽉 맞게 됨 */
}
.card-image img {
	display: none; /* figure 태그의 backgroud 이미지로 주기 위해 img는 안보이게 함 */
}
.card-desc {
	/* flex-grow 1 flex-shrink 1 flex-basis auto
	컨텐츠 길이가 얼마든 알아서 늘어나게(flex-grow) auto로 주면 desc 길이에 맞게 전체적으로 크기가 맞게 늘어남 */
	flex: 1 1 auto;
	padding: 1em;
	background: white;
}
/* 600px 이상일때 */
@media (min-width: 600px) {
	.card-list-con {
		overflow-x: hidden;
	}
	.card-list {
		display: flex;
		/* 절반 차지하고, 넘치면 아래로 떨어지게 만듦 */
		flex-wrap: wrap;
		/* 패딩을 1rem준만큼 -1rem 주면 여백없이 꽉 차게됨 */
		margin: 0 -1rem;
	}
	.card-item {
		/* 두개씩 하게하려면 절반을 차지하게함 */
		width: 50%;
		/* 좌우에 패딩을 줌 */
		padding: 0 1rem;
	}
}
/* 1200px이상 */
@media (min-width: 1200px) {
	.card-item {
		/* 3개씩 위치하게 함 */
		width: 33.33333%;
	}
}